.footer-links {
    text-decoration: none;
    margin: 25px;
    padding: 10px 0px 20px 0px;
    color: black;
    font-weight: bolder;
    font-size: 17px;
  }

.footer-links:hover{
    color:crimson;
}
  
.footer {
    background-color:lightgrey;
    text-align: center;
    padding-top: 50px;
    width: auto;
    height: 110px;
  }
  
  